.clasePropia{
    background-color: rgb(245, 190, 109);
}

.btn{
    border: none;
    padding :2px 10px;
    border-radius: 20px;

}

.btnRegistro{
    background-color: var(--primaryColor);
    color: aliceblue;
}

.btnInicioSesion{
  background-color:var(--primaryColor); 
  color: aliceblue;
}